.post-info {
  padding-bottom: 30px;
  margin: 20px 0 5px;
  padding-top: 20px;
}

.post-content {
  line-height: 35px;
  padding-bottom: 50px;

  p {
    margin-bottom: 35px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 35px;
  }

  pre {
    padding: 20px;
    margin: 35px 0;
    
    + p, + h1, + h2, + h3, + h4, + h5, + h6 {
      margin-top: 50px;
    }
  }

  code {
    padding: 2px 5px;
  }

  // Numbered lists
  ol {
    margin: 35px 0;
    
    li {
      margin-bottom: 5px;  // Reduced from 15px to 5px
    }

    + p {
      margin-top: 50px;
    }
  }

  // Bullet lists
  ul {
    margin: 35px 0;
    
    li {
      margin-bottom: 5px;  // Reduced from 15px to 5px
    }

    + p {
      margin-top: 70px !important;
    }

    + h1, + h2, + h3, + h4, + h5, + h6 {
      margin-top: 70px;
    }
  }

  hr {
    margin: 50px 0;
  }

  p + h1, p + h2, p + h3, p + h4, p + h5, + h6 {
    margin-top: 50px;
  }

  > * + * {
    margin-top: 35px;
  }
}